body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
h1, h2 {
    color: #333;
}
p {
    line-height: 1.6;
    color: #666;
}
.header {
    background: #50b3a2;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}